* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #DFD3E3;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #20b2aa;
  align-items: center;
  padding: 20px;
}

header .left {
  flex-grow: 1;
}

header a {
  text-decoration: none;
  color: #222;
}

header .right {
  display: flex;
  gap: 15px;
}

.login {
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.login form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #0056b3;
}

.login h1 {
  text-align: center;
  margin: 0 0 15px;
  font-size: 24px;
}
.login img{
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}